.button {
  // color: var(--global--color-white);
  color: var(--global--color-orange-30);
  cursor: pointer;
  // display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 38px;
  max-width: max-content;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0.8rem;
  width: 100%;
  border: 3px solid;
  overflow: hidden;
  position: relative;
  
  span {
    z-index: 20;
  }
  
  &::after {
    background-color: var(--global--color-orange-30);
    content: "";
    height: 155px;
    left: -75px;
    opacity: 0.6;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    will-change: transform;
    // z-index: -1;
  }

  &:hover {
    text-decoration: none;

    &::after {
      left: 120%;
      transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    }
  }

  &-white {
    color: var(--global--color-white);

    &::after {
      background-color: var(--global--color-white);
    }
  }

  &.stretch {
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    border-width: 2px;
  }
}