.about {
  margin: 4rem 10rem;

  @media (max-width: 1200px) {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  @media (max-width: 800px) {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  @media (max-width: 600px) {
    margin-left: 4px;
    margin-right: 4px;
  }

  .spanstyle {
    background-color: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

  .heading {
    font-size: var(--heading--font-size-h2);
    font-weight: var(--heading--font-weight-strong);
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    // margin-bottom: 180px;

    .spanstyle {
      background-image: linear-gradient(45deg, var(--global--color-blue-40), var(--global--color-blue-30));
    }
  }

  .section {
    width: 50%;
    margin: 8rem auto;

    &-heading {
      font-size: var(--heading--font-size-h3);
      font-weight: var(--heading--font-weight-strong);
      margin-bottom: 30px;
    }
    
    &-divider {
      width: 30%;
      border-bottom: 0.1px solid var(--global--color-white-90);
    }

    &-info {
      margin-top: 30px;
      font-size: var(--global--font-size-xs);
      margin-bottom: 30px;
    }

    &.first {
      .spanstyle {
        background-image: linear-gradient(45deg, var(--global--color-green-40), var(--global--color-green-30));
      }
    }

    &.second {
      .spanstyle {
        background-image: linear-gradient(45deg, var(--global--color-yellow-40), var(--global--color-yellow-30));
      }
    }
  }
}