.container {
  // padding: 0;

  .hero {
    height: calc(100vh - 70px);
    position: relative;

    &-background,
    &-content {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
    }

    &-content {
      padding: 3rem 4rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: rgba(0, 0, 0, 0.4);
      }
    }

    &-heading {
      color: var(--global--color-white-90);
      font-size: var(--global--font-size-xl);
      line-height: var(--global--line-height-heading);
      font-weight: var(--heading--font-weight-strong);
      
      @media screen and (min-width: 768px) {
        width: 60%;
      }
      
      @media screen and (max-width: 768px) {
        margin-bottom: 2rem;
        font-size: var(--global--font-size-lg);
      }
    }
  }

  .main {
    padding: 0 3rem;

    @media screen and (max-width: 620px) {
      padding: 0 2rem;
    }
  }

  .speciality {
    position: relative;
    height: 600px;

    // @media (max-width: 768px) {
    //   height: max-content;
    // }
  
    &-background,
    &-content {
      position: absolute;
    }

    &-background {
      top: 80px;
      left: 0px;
      height: calc(100% - 160px);
      width: 70%;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
      
      &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
      }
    }

    &-content {
      top: 110px;
      right: 0px;
      height: calc(100% - 220px);
      width: 50%;
      background-color: rgba(0, 0, 0, 0.9);
      padding: 3.5rem;
      // color: var(--global--color-white-90);

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .heading {
        font-size: var(--global--font-size-md);
        font-weight: var(--heading--font-weight-strong);
      }

      @media screen and (max-width: 1024px) {
        width: 70%;
      }

      @media screen and (max-width: 768px) {
        right: 10%;
        width: 80%;
        padding: 3rem;
      }

      @media screen and (max-width: 620px) {
        right: 0;
        width: 100%;
        padding: 2rem;

        .heading {
          font-size: var(--global--font-size-normal);
        }
      }
    }
  }

  .blogs-display {
    margin: 4rem 10rem;

    @media screen and (max-width: 1200px) {
      margin-left: 4rem;
      margin-right: 4rem;
    }

    @media screen and (max-width: 800px) {
      margin-left: 2rem;
      margin-right: 2rem;
    }

    @media screen and (max-width: 600px) {
      margin-left: 4px;
      margin-right: 4px;
    }

    &__heading {
      font-size: var(--global--font-size-md);
      margin-bottom: 30px;
    }
  }

  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 0;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
    line-height: 38px;
    border-width: 3px;
    border-color: #fff;
    border-style: solid;
  }

  .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
  }

  .glow-on-hover:hover {
    border-color: rgba(255, 255, 255, 0.5);
  }

  .glow-on-hover:active {
    color: #000
  }

  .glow-on-hover:hover:after {
    background: #111;
  }
  .glow-on-hover:active:after {
    background: transparent;
  }

  .glow-on-hover:hover:before {
    opacity: 1;
  }

  .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
  }

  @keyframes glowing {
      0% { background-position: 0 0; }
      50% { background-position: 400% 0; }
      100% { background-position: 0 0; }
  }
}