.sell {
  margin: 4rem 10rem;

  @media screen and (max-width: 1200px) {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  @media screen and (max-width: 800px) {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  @media screen and (max-width: 600px) {
    margin-left: 4px;
    margin-right: 4px;
  }

  .spanstyle {
    background-color: inherit;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }

  .heading {
    font-size: var(--heading--font-size-h2);
    font-weight: var(--heading--font-weight-strong);
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    // margin-bottom: 180px;

    @media screen and (max-width: 600px) {
      font-size: var(--heading--font-size-h3);
    }

    .spanstyle {
      background-image: linear-gradient(45deg, var(--global--color-green-40), var(--global--color-green-30));
    }
  }

  .description,
  .form {
    width: 50%;
    margin: 8rem auto;
    margin-top: 2rem;
    font-size: var(--global--font-size-sm);

    @media screen and (max-width: 850px) {
      width: 60%;
    }
  
    @media screen and (max-width: 600px) {
      width: 80%;
    }
  }

  .description {
    .spanstyle {
      background-image: linear-gradient(45deg, var(--global--color-blue-40), var(--global--color-blue-30));
    }

    &.description-cta {
      font-size: var(--global--font-size-normal);
      margin-bottom: 2rem;
    }
  }

  .form {
    &-submit {
      margin: 40px 10px;
    }

    &-group {
      position: relative;
      margin: 25px 0;

      --base1: #131414;
      --base2: #18191a;
      --base3: #0d0d0e;
      --baseDark1: #ECEEEF;
      --baseDark2: #B3BCC2;
      --baseDark3: #7A8A94;
      --shadow-transition: all 0.25s cubic-bezier(.17, .67, .83, .67);

      // input shadows 
      --input-shadow: 
        2px 2px 9px var(--base3),
        -2px -2px 9px var(--base1)
      ;

      --input-shadow-active: 
        inset 2px 2px 6px var(--base3),
        inset -2px -2px 6px var(--base1),
        1px 1px 6px var(--base3),
        -1px -1px 6px var(--base1)
      ;

      --input-shadow-valid: 
        inset 2px 2px 4px var(--base3),
        inset -2px -2px 4px var(--base1),
        1px 1px 6px var(--base3),
        -1px -1px 6px var(--base1)
      ;

      label, input {
        font-size: 14px;
        line-height: 20px;
        font-family: var(--main-font);
        color: var(--global--color-white-50);
      }
    
      label {
        position: absolute;
        left: 18px;
        top: 17px;
        transform-origin: left top;
        transition: all 0.25s linear;
      }
    
      input {
        appearance: none;
        width: 100%;
        border-radius: 10px;
        min-height: 30px;
        padding: 10px 15px;
        margin-top: 5px;
        background: var(--base2);
        border: 2px solid var(--base2);
        box-shadow: var(--input-shadow);
        transition: var(--shadow-transition);
        // text-shadow: var(--text-shadow);
        color: var(--base3);
    
        &::placeholder {
          color: var(--base2);
          transition: color 0.25s linear;
          text-shadow: none;
        }
    
        &:focus:enabled, &:active:enabled {
          outline: none;
          color: var(--baseDark2);
          border-color: var(--global--color-white-50);
          box-shadow: var(--input-shadow-active);
    
          &::placeholder {
            color: var(--global--color-white-50);
          }
    
          &+label {
            transform: translateY(-34px) scale(0.9);
            font-weight: 600;
          }
        }
    
        &:valid {
          box-shadow: var(--input-shadow-valid);
          color: var(--baseDark1);

          &+label {
            transform: translateY(-34px) scale(0.9);
            font-weight: 600;
          }
        }
    
        &:disabled {
          color: var(--base3);
          background: var(--base2);
          border-color: var(--base3);
          box-shadow: var(--input-shadow-neutral);
          transition: unset;
    
          &+label {
            color: var(--base3);
          }
        }
      }
    }
  }
}