.article {
  margin: 4rem 10rem;

  @media (max-width: 1200px) {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  @media (max-width: 800px) {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  @media (max-width: 600px) {
    margin-left: 4px;
    margin-right: 4px;
  }

  .heading {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: var(--global--font-size-md);
  }

  .content {
    h1 {
      font-size: var(--global--font-size-sm);
      margin-bottom: 40px;
    }
  
    p {
      font-size: var(--global--font-size-xs);
      color: var(--global--color-white-50);
    }
  
    a {
      color: var(--global--color-white-90);
    }
  }

}