.navbar {
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px 1.5rem;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  &-brand {
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    cursor: pointer;
  }

  &-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform-origin: 0 0;
    transition: opacity 300ms, transform 300ms;
    will-change: transform;

    @media (max-width: 768px) {
      transform: scaleY(0);
      opacity: 0;
    }

    &.menu-active {
      transform: scaleY(1);
      opacity: 1;
    }

    &--item:not(:last-child) {
      margin-right: 1.5rem;
    }

    &--link {
      font-family: var(--global--font-primary);
      color: var(--global--color-white);
      text-decoration: none;
      position: relative;

      &:hover {
        color: var(--global--color-orange-30);

        &::after {
          opacity: 1;
          transform: translateY(0.2em);
        }
      }

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0.1em;
        background-color: var(--global--color-orange-30);
        opacity: 0;
        transform: translateY(0);
        transition: opacity 300ms, transform 300ms;
      }
    }
  }

  .burger {
    display: flex;
    outline: none;
    height: 20px;
    width: 20px;
    border: 0px;
    padding: 0px;
    background: transparent;
    transition: all 250ms ease-out;
    cursor: pointer;

    @media (min-width: 768px) {
      display: none;
    }
  }
  
  .burger:before, .burger:after {
    content: '';
    width: 20px;
    height: 2px;
    position: absolute;
    background: var(--global--color-white);
    transition: all 250ms ease-out;
    will-change: transform;
  }
  
  .burger:before {
    transform: translateY(-3px);
  }
  
  .burger:after {
    transform: translateY(3px);
  }
  
  .burger-active.burger:before {
    transform: translateY(0) rotate(45deg);
  }
  
  .burger-active.burger:after {
    transform: translateY(0) rotate(-45deg);
  }  
}